/* style.css pour game.html */

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#healthBarContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 20px;
    border: 2px solid #fff;
}

#healthBar {
    width: 100%;
    height: 100%;
    background-color: #0f0;
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#gameOver button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #42C29F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#gameOver button:hover {
    background-color: #379F88;
}

.hidden {
    display: none;
}

#pauseMenu,
#menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#pauseMenu button,
#menu button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #42C29F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pauseMenu button:hover,
#menu button:hover {
    background-color: #379F88;
}